header {
  height: 100vh;
  background: url("../Images/market-header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

h1:only-child {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  line-height: 30px;
  background-color: $transparentBlack;
  color: $whiteColor;
  letter-spacing: 1.5px;
  padding-left: 2vw;
}

h2 {
  width: 100%;
  line-height: 100px;
  background-color: $yellowColor;
  padding: 3%;
  color: $whiteColor;
  // font-size: 2 * $attractionsFontSize;
  text-align: center;
}

h3 {
  top: 50%;
  // font-size: $attractionsFontSize;
}

#logo,
#logo > img {
  height: 100%;
}

a + ul {
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.main__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10vw;
  gap: 200px;
  flex-direction: column;

  &:nth-child(odd) {
    background-color: $lightBlueColor;
    color: $whiteColor;

    a {
      border: 1px solid $whiteColor;

      &:hover {
        background-color: $whiteColor;
        color: $lightBlueColor;
      }
    }
  }

  &:last-child {
    margin-bottom: 50px;

    img {
      width: auto;
    }
  }

  &--img {
    width: 80vw;
    height: 250px;
    object-fit: cover;
  }
}

@media only screen and (min-width: $xsw) {
  h1:only-child {
    top: 70%;
    line-height: 100px;
    letter-spacing: 2.5px;
    padding-left: 10vw;
  }

  .main__section {
    flex-direction: row;
    height: 350px;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  .main__section--img {
    max-width: 30vw;
    height: 100%;
  }

  .main__section--descr {
    max-width: 40vw;
  }
}
