* {
  font-family: $fontMainPlus;
  box-sizing: border-box;
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
}

header {
  height: 100vh;
  background: url("../Images/market-header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  h1 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    line-height: 60px;
    background-color: $transparentBlack;
    color: $whiteColor;
    letter-spacing: 1.5px;
    padding-left: 2vw;
  }
}

.main {
  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10vw;
    gap: 50px;
    flex-direction: column;

    &--img {
      width: 80vw;
      height: 200px;
      object-fit: cover;
    }

    &--descr {
      display: flex;
      flex-direction: column;
      transition: 0.5s;

      a {
        @include btn($whiteColor, $lightBlueColor);
        margin-top: 20px;
        width: max-content;
        padding: 10px 20px;
        align-self: flex-end;
      }
    }

    &:nth-child(odd) {
      div {
        transform: translate(100vw);
        &.active {
          transform: translate(0);
        }
      }
    }

    &:nth-child(even) {
      background-color: $lightBlueColor;
      color: $whiteColor;

      div {
        transform: translate(-100vw);
        &.active {
          transform: translate(0);
        }
      }

      a {
        @include btn-ghost($whiteColor, $lightBlueColor);
      }
    }

    &:last-child {
      margin-bottom: 50px;

      img {
        width: auto;
      }
    }
  }

  &__descr {
    background-color: $yellowColor;
    color: $whiteColor;
    padding: 80px 10vw;
    font-size: 1.5em;
    line-height: 1.7em;

    mark {
      background-color: transparent;
      margin-top: 80px;
      padding: 10px;
      float: right;
      color: $whiteColor;
      font-size: 1.2em;
      font-weight: bold;
      font-style: italic;
      font-variant: small-caps;
      font-family: $fontMain;
      letter-spacing: 1.5px;
    }
  }
}

.gallery {
  padding: 50px 5vw;
  background-color: $yellowColor;

  &__h2 {
    font-size: 1.5em;
    letter-spacing: 1.5px;
    color: $whiteColor;
    font-weight: bold;
    margin-bottom: 30px;
  }

  &__section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;

    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 4px 4px 10px $transparentBlack;
      transition: 0.2s;

      &:hover {
        scale: 1.05;
      }
    }

    &--div {
      &.extended {
        width: 100vw;
        height: 100vh;
        background-color: $transparentBlack07;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2;

        img {
          position: absolute;
          width: 80vw;
          height: 80vh;
          left: 10vw;
          top: 10vh;
        }
      }
    }
  }
}

@media only screen and (min-width: $mw) {
  header {
    h1 {
      top: 70%;
      line-height: 100px;
      letter-spacing: 2.5px;
      padding-left: 10vw;
    }
  }

  .main {
    .main__section {
      flex-direction: row;
      height: 350px;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      &--img {
        max-width: 30vw;
        height: 100%;
      }

      &--descr {
        max-width: 40vw;
      }
    }
  }

  .gallery {
    &__section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (min-width: $mmw) {
  .gallery {
    padding: 50px 10vw;

    &__h2 {
      font-size: 2em;
    }

    &__section {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (min-width: $lmw) {
  .gallery {
    &__section {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
