@use "variables" as *;

* {
  font-family: $fontMainPlus;
  box-sizing: border-box;
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
}

header {
  height: 100vh;
  background: url("../Images/market-header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

h1:only-child {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  line-height: 30px;
  background-color: $transparentBlack;
  color: $whiteColor;
  letter-spacing: 1.5px;
  padding-left: 2vw;
}

h2 {
  width: 100%;
  line-height: 100px;
  background-color: $yellowColor;
  padding: 3%;
  color: $whiteColor;
  font-size: 2 * $attractionsFontSize;
  text-align: center;
}

h3 {
  top: 50%;
  font-size: $attractionsFontSize;
}

#logo,
#logo > img {
  height: 100%;
}

nav,
nav > ul {
  display: flex;
}

nav {
  padding: 10px;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  background-color: $whiteColor;
  box-shadow: 4px 0 20px $transparentBlack;

  li a {
    @include default-link();
  }
}

a + ul {
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.main__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10vw;
  gap: 200px;
  flex-direction: column;

  &:nth-child(odd) {
    background-color: $lightBlueColor;
    color: $whiteColor;

    a {
      border: 1px solid $whiteColor;

      &:hover {
        background-color: $whiteColor;
        color: $lightBlueColor;
      }
    }
  }

  &:last-child {
    margin-bottom: 50px;

    img {
      width: auto;
    }
  }

  &--img {
    width: 80vw;
    height: 250px;
    object-fit: cover;
  }
}

footer {
  @include footer();
}

@media only screen and (min-width: $mw) {
  h1:only-child {
    top: 70%;
    line-height: 100px;
    letter-spacing: 2.5px;
    padding-left: 10vw;
  }

  nav {
    padding: 20px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
  }

  nav > ul {
    gap: 2vw;
    flex-direction: row;
  }

  .main__section {
    flex-direction: row;
    height: 350px;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  .main__section--img {
    max-width: 30vw;
    height: 100%;
  }

  .main__section--descr {
    max-width: 40vw;
  }
}

@media only screen and (min-width: $lmw) {
  nav {
    padding: 10px 10vw;
  }
}
