@use "variables" as *;

* {
  font-family: $fontMainPlus;
  box-sizing: border-box;
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
}

header {
  height: 100vh;
  background: url("../Images/market-header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  h1 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    line-height: 60px;
    background-color: $transparentBlack;
    color: $whiteColor;
    letter-spacing: 1.5px;
    padding-left: 2vw;
  }
}

.nav {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  background-color: $whiteColor;
  box-shadow: 4px 0 20px $transparentBlack;

  &__logo {
    height: 100%;

    img {
      height: 100%;
    }
  }

  &__ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;

    &--link {
      @include default-link();
    }
  }
}

.main {
  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10vw;
    gap: 50px;
    flex-direction: column;

    &:nth-child(even) {
      background-color: $lightBlueColor;
      color: $whiteColor;

      a {
        @include btn-ghost($whiteColor, $lightBlueColor);
      }
    }

    &:last-child {
      margin-bottom: 50px;

      img {
        width: auto;
      }
    }

    &--img {
      width: 80vw;
      height: 200px;
      object-fit: cover;
    }

    &--descr {
      display: flex;
      flex-direction: column;

      a {
       @include btn($whiteColor, $lightBlueColor);
      }
    }
  }

  &__descr {
    background-color: $yellowColor;
    color: $whiteColor;
    padding: 80px 10vw;
    font-size: 1.5em;
    line-height: 1.7em;

    mark {
      background-color: transparent;
      margin-top: 80px;
      padding: 10px;
      float: right;
      color: $whiteColor;
      font-size: 1.2em;
      font-weight: bold;
      font-style: italic;
      font-variant: small-caps;
      font-family: $fontMain;
      letter-spacing: 1.5px;
    }
  }
}

footer {
  background-color: $footerColor;
  color: $whiteColor;
  padding: 10px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bolder;
}

@media only screen and (min-width: $mw) {
  header {
    h1 {
      top: 70%;
      line-height: 100px;
      letter-spacing: 2.5px;
      padding-left: 10vw;
    }
  }

  .nav {
    padding: 20px;
    height: 100px;
    align-items: center;
    justify-content: space-between;

    &__ul {
      gap: 2vw;
      flex-direction: row;
    }
  }

  .main {
    .main__section {
      flex-direction: row;
      height: 350px;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      &--img {
        max-width: 30vw;
        height: 100%;
      }

      &--descr {
        max-width: 40vw;
      }
    }
  }
}

@media only screen and (min-width: $lmw) {
  .nav {
    padding: 10px 10vw;
  }
}
