// Colors
$lightBlueColor: cornflowerblue;
$transparentBlack: rgba(0, 0, 0, 0.5);
$transparentBlack07: rgba(0, 0, 0, 0.7);
$transparentWhite08: rgba(255, 255, 255, 0.85);
$footerColor: rgb(35, 53, 132);
$darkBlueColor: darkblue;
$whiteColor: white;
$yellowColor: rgb(207, 147, 7);
$lightGreenButton: rgb(163, 177, 114);
$oliveGreenButton: rgb(146, 155, 102);

// Fonts
$fontMain: Arial, Helvetica, sans-serif;
$fontMainPlus: Catamaran, $fontMain;

// Media screen widths
$mw: 640px;
$lmw: 1440px;

$attractionsFontSize: 2em;

// Buttons
@mixin default-link() {
  text-transform: uppercase;
  color: $darkBlueColor;
  font-weight: 700;
  letter-spacing: 0.15em;
  transition: 0.3s;
  position: relative;
  padding: 0 5px;

  &:hover {
    color: $lightBlueColor;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: $darkBlueColor;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover:after {
    opacity: 1;
    background-color: $lightBlueColor;
    width: 100%;
    left: 0;
  }
}

@mixin btn($fontColor, $bgcColor) {
  color: $fontColor;
  background-color: $bgcColor;
  transition: 0.3s;
  border: 1px solid $bgcColor;

  &:hover {
    color: $bgcColor;
    background-color: $fontColor;
  }
}

@mixin btn-ghost($fontColor, $fontHoverColor) {
  background-color: transparent;
  border: 1px solid $fontColor;
  color: $fontColor;

  &:hover {
    background-color: $fontColor;
    color: $fontHoverColor;
  }
}
