html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* set base values */
/* type scale */
body {
  font-size: 1em;
  font-family: Arial, Helvetica;
}

/* text size */
.text--xxxl {
  font-size: 2.48832em;
}

h1,
.text--xxl {
  font-size: 2.0736em;
}

h2,
.text--xl {
  font-size: 1.728em;
}

h3,
.text--lg {
  font-size: 1.44em;
}

h4,
.text--md {
  font-size: 1.2em;
}

.text--sm,
small {
  font-size: 0.8333333333em;
}

.text--xs {
  font-size: 0.6944444444em;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-box-shadow: 4px 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.nav__logo {
  height: 100%;
}
.nav__logo img {
  height: 100%;
}
.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  list-style: none;
}
.nav__ul--link {
  text-transform: uppercase;
  color: darkblue;
  font-weight: 700;
  letter-spacing: 0.15em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  padding: 0 5px;
}
.nav__ul--link:hover {
  color: cornflowerblue;
}
.nav__ul--link:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: darkblue;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav__ul--link:hover:after {
  opacity: 1;
  background-color: cornflowerblue;
  width: 100%;
  left: 0;
}
@media (max-width: 768px) {
  .nav .nav__logo {
    height: 80px;
  }
}

@media only screen and (min-width: 640px) {
  .nav {
    padding: 20px;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__ul {
    gap: 2vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media only screen and (min-width: 1440px) {
  .nav {
    padding: 10px 10vw;
  }
}
footer {
  background-color: rgb(35, 53, 132);
  color: white;
  padding: 10px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bolder;
}

header {
  height: 100vh;
  background: url("../Images/market-header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
header h1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  letter-spacing: 1.5px;
  padding-left: 2vw;
}

.main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 10vw;
  gap: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__section--img {
  width: 80vw;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__section--descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 150%;
}
.main__section--descr a {
  color: white;
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
  margin-top: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.main__section--descr a:hover {
  color: cornflowerblue;
  background-color: white;
}
.main__section:nth-child(odd) div {
  -webkit-transform: translate(100vw);
          transform: translate(100vw);
}
.main__section:nth-child(odd) div.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.main__section:nth-child(even) {
  background-color: cornflowerblue;
  color: white;
}
.main__section:nth-child(even) div {
  -webkit-transform: translate(-100vw);
          transform: translate(-100vw);
}
.main__section:nth-child(even) div.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.main__section:nth-child(even) a {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.main__section:nth-child(even) a:hover {
  background-color: white;
  color: cornflowerblue;
}
.main__section:last-child {
  margin-bottom: 50px;
}
.main__section:last-child img {
  width: auto;
}
.main__descr {
  background-color: rgb(207, 147, 7);
  color: white;
  padding: 80px 10vw;
  font-size: 1.44em;
  line-height: 1.7em;
}
.main__descr mark {
  background-color: transparent;
  margin-top: 80px;
  padding: 10px;
  float: right;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
}

.gallery {
  padding: 50px 5vw;
  background-color: rgb(207, 147, 7);
}
.gallery__h2 {
  letter-spacing: 1.5px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}
.gallery__section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
}
.gallery__section--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.gallery__section--img:hover {
  scale: 1.05;
}
.gallery__section--div.extended {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}
.gallery__section--div.extended img {
  position: absolute;
  width: 80vw;
  height: 80vh;
  left: 10vw;
  top: 10vh;
}

@media only screen and (min-width: 640px) {
  header h1 {
    top: 70%;
    line-height: 100px;
    letter-spacing: 2.5px;
    padding-left: 10vw;
  }
  .main .main__section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 350px;
  }
  .main .main__section:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main .main__section--img {
    max-width: 30vw;
    height: 100%;
  }
  .main .main__section--descr {
    max-width: 40vw;
  }
  .gallery__section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  .gallery {
    padding: 50px 10vw;
  }
  .gallery__h2 {
    font-size: 2.0736em;
  }
  .gallery__section {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1440px) {
  .gallery__section {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=index.css.map */