* {
  font-family: Catamaran, Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
}

header {
  height: 100vh;
  background: url("../Images/market-header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
header h1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  letter-spacing: 1.5px;
  padding-left: 2vw;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-box-shadow: 4px 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 0 20px rgba(0, 0, 0, 0.5);
}
.nav__logo {
  height: 100%;
}
.nav__logo img {
  height: 100%;
}
.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  list-style: none;
}
.nav__ul--link {
  text-transform: uppercase;
  color: darkblue;
  font-weight: 700;
  letter-spacing: 0.15em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  padding: 0 5px;
}
.nav__ul--link:hover {
  color: cornflowerblue;
}
.nav__ul--link:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: darkblue;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav__ul--link:hover:after {
  opacity: 1;
  background-color: cornflowerblue;
  width: 100%;
  left: 0;
}

.main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 10vw;
  gap: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__section:nth-child(even) {
  background-color: cornflowerblue;
  color: white;
}
.main__section:nth-child(even) a {
  border: 1px solid white;
}
.main__section:nth-child(even) a:hover {
  background-color: white;
  color: cornflowerblue;
}
.main__section:last-child {
  margin-bottom: 50px;
}
.main__section:last-child img {
  width: auto;
}
.main__section--img {
  width: 80vw;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__section--descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__section--descr a {
  color: white;
  background-color: cornflowerblue;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 1px solid cornflowerblue;
}
.main__section--descr a:hover {
  color: cornflowerblue;
  background-color: white;
}
.main__descr {
  background-color: rgb(207, 147, 7);
  color: white;
  padding: 80px 10vw;
  font-size: 1.5em;
  line-height: 1.7em;
}
.main__descr mark {
  background-color: transparent;
  margin-top: 80px;
  padding: 10px;
  float: right;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
}

footer {
  background-color: rgb(35, 53, 132);
  color: white;
  padding: 10px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bolder;
}

@media only screen and (min-width: 640px) {
  header h1 {
    top: 70%;
    line-height: 100px;
    letter-spacing: 2.5px;
    padding-left: 10vw;
  }
  .nav {
    padding: 20px;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__ul {
    gap: 2vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main .main__section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 350px;
  }
  .main .main__section:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main .main__section--img {
    max-width: 30vw;
    height: 100%;
  }
  .main .main__section--descr {
    max-width: 40vw;
  }
}
@media only screen and (min-width: 1440px) {
  .nav {
    padding: 10px 10vw;
  }
}/*# sourceMappingURL=index.css.map */