// Buttons
@mixin default-link($color: $darkBlueColor, $hoverColor: $lightBlueColor) {
  text-transform: uppercase;
  color: $color;
  font-weight: 700;
  letter-spacing: 0.15em;
  transition: 0.3s;
  position: relative;
  padding: 0 5px;

  &:hover {
    color: $hoverColor;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: $color;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover:after {
    opacity: 1;
    background-color: $hoverColor;
    width: 100%;
    left: 0;
  }
}

@mixin btn($fontColor, $bgcColor) {
  color: $fontColor;
  background-color: $bgcColor;
  border: 1px solid $bgcColor;

  &:hover {
    color: $bgcColor;
    background-color: $fontColor;
  }
}

@mixin btn-ghost($fontColor, $fontHoverColor) {
  background-color: transparent;
  border: 1px solid $fontColor;
  color: $fontColor;

  &:hover {
    background-color: $fontColor;
    color: $fontHoverColor;
  }
}

@mixin only-for-mobile {
    @media (max-width: $sw) {
        @content;
    }
}