.nav {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  background-color: $whiteColor;
  box-shadow: 4px 0 20px $transparentBlack;
  z-index: 1;

  &__logo {
    height: 100%;

    img {
      height: 100%;
    }
  }

  &__ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;

    &--link {
      @include default-link($darkBlueColor, $lightBlueColor);
    }
  }
}

@media only screen and (min-width: $mw) {
  .nav {
    padding: 20px;
    height: 100px;
    align-items: center;
    justify-content: space-between;

    &__ul {
      gap: 2vw;
      flex-direction: row;
    }
  }
}

@media only screen and (min-width: $lmw) {
  .nav {
    padding: 10px 10vw;
  }
}
