// Colors
$lightBlueColor: cornflowerblue;
$transparentBlack: rgba(0, 0, 0, 0.5);
$transparentBlack07: rgba(0, 0, 0, 0.7);
$transparentWhite08: rgba(255, 255, 255, 0.85);
$footerColor: rgb(35, 53, 132);
$darkBlueColor: darkblue;
$whiteColor: white;
$yellowColor: rgb(207, 147, 7);

// Breakpoints
$xsw: 640px;
$sw: 768px;
$mw: 992px;
$lw: 1440px;
